{% extends "layout.html" %}

{% block heading %} 
Make your appointment now!
{% endblock %} 

{% block body %}
<form action="{{ url_for ('scheduled') }}" method="post">
  <ul>
   <li><label for="exampleImputName1">Full Name</label></li>
   <input type="text" name="name" class="form-control" placeholder="Enter your name here">
   <li><label for="exampleImputEmail1">Email Address</label></li>
   <input type="text" name="email" class="form-control" placeholder="Name@example.com">
   <li><label for="exampleImputDate1">Select your prefered Date and Time</label></li>
   <input type="datetime-local" name="date" class="form-control">
   <button>Sumbit!</button>
  </ul>
</form>
{% endblock %}